.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  button {
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    border: none;
    outline: none;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  button:hover {
    border-radius: 0;
    box-shadow: 5px 5px 0 #000;
  }
}

.popup-back-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.622);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  position: relative;
  height: 300px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #fff;
  animation-name: animateModal;
  animation-duration: 0.7s;
  span {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}

@keyframes animateModal {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
